.intro {
  min-height: 750px;

  &__slide {
    position: relative;
  }

  &__slide img {
    object-fit: contain;
    max-width: none;
  }

  &__slide-desription {
    position: absolute;
    top: 0;
    left: 0;
  }
}
